#! /bin/bash

# Telegram
export TG_TOKEN=''  # Telegram token

# Webhook
export WEBHOOK_HOST=''  # Hostname to the webhook server. E.g. https://domain.com
export WEBHOOK_PATH=''  # Url path to the webhook server. E.g. "/webhook_server/"
export WEBHOOK_PORT='3001'  # Optional variable, default value is 3001

echo 'Environment Variables Activated'
